<h3><%= t('view.task.confirm') %></h3>
<%= form_with(model: @task, url: tasks_path, local: true) do |f| %>
  <p><%= t("view.task.name") %><%= @task.name%></p>
  <p><%= t('view.task.content') %><%= @task.content %></p>
  <!-- <p>終了期限<%#= @task.deadline %></p> -->
  <!-- <p>順位<%#= @task.priority %></p> -->
  <!-- <p>進捗<%#= @task.status %></p> -->
  <!-- <p>タグ<%#= @task.label %></p> -->
  <%= f.hidden_field :name %>
  <%= f.hidden_field :content %>
  <%= f.hidden_field :deadline %>
  <%= f.hidden_field :priority %>
  <%= f.hidden_field :status %>
  <%= f.hidden_field :label %>
  <%= f.submit "登録する" %>
<% end %>

<%= form_with(model: @task, url: new_task_path,local: true, method: "get") do |f| %>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :content %>
  <%= f.hidden_field :deadline %>
  <%= f.hidden_field :priority %>
  <%= f.hidden_field :status %>
  <%= f.hidden_field :label %>
  <%= f.submit "戻る", name:"back" %>
<% end %>
