<h1>一覧</h1>
<p> <%= notice %></p>
<table>
  <tr>
    <th>仕事名</th>
    <th>仕事内容</th>
    <th>終了期限</th>
    <th>順位</th>
    <th>進捗</th>
    <th>タグ</th>
  </tr>
<% @tasks.each do |task| %>
  <tr>
    <td><%= task.name%></td>
    <td><%= task.content %></td>
    <td><%= task.deadline %></td>
    <td><%= task.priority %></td>
    <td><%= task.status %></td>
    <td><%= task.label %></td>
    <td><%= link_to "詳細", task_path(task.id) %></td>
    <td><%= link_to "編集", edit_task_path(task.id) %></td>
    <td><%= link_to "削除", task_path(task.id), method: :delete, data: {confirm: "本当に削除してもいいですか？"} %></td>
  </tr>
<% end %>
</table>

<br>

<%= link_to "仕事登録", new_task_path %>
