
<div class="task-index">
  <h1 class="task-index__title" >一覧</h1>
  <p> <%= notice %></p>
  <%= link_to "終了期限でソートする", tasks_path(deadline: "true") %>
  <%= link_to "優先順位でソートする", tasks_path(priority: "true") %>
  <%= form_with(model:  @tasks.length > 0 ? @tasks : [Task.new], method: :get, local: true, url: tasks_path) do |f| %>
    <%= f.label :title_search, '仕事名検索'%>
    <%= f.text_field :title %>
    <%= f.label :status_search, '進捗検索' %>
    <%= f.select :status,["","未着手","着手中","完了"] %>
    <%= f.label :label_search, 'ラベル検索'%>
    <%= f.select :label_id, Label.all.map {|label| [label.name,label.id]}, include_blank: true %>
    <%= f.submit '検索', class:"btn btn-primary" %><br>
  <% end %>

  <table class="task-index__table">
    <tr>
      <th>仕事名</th>
      <th>仕事内容</th>
      <th>終了期限</th>
      <th>進捗</th>
      <th>順位</th>
    </tr>
    <% if @tasks.length > 0 %>
      <%= render partial: "tasks/row", collection: @tasks, as: "task" %>
    <% else %>
      <%= render partial: "tasks/notfound" %>

 
    <% end %>
  <%= paginate @tasks %><br>
  </table>
  <br>

  <%= link_to "仕事登録", new_task_path %>

</div>
