<h1><%= t('view.task.index') %></h1>
<p> <%= notice %></p>
<table>
  <tr>
    <th><%= t("view.task.name") %></th>
    <th><%= t("view.task.content") %></th>
    <!-- <th>終了期限</th> -->
    <!-- <th>順位</th> -->
    <!-- <th>進捗</th> -->
    <!-- <th>タグ</th> -->
  </tr>
<% @tasks.each do |task| %>
  <tr>
    <td><%= task.name%></td>
    <td><%= task.content %></td>
    <td><%#= task.deadline %></td>
    <td><%#= task.priority %></td>
    <td><%#= task.status %></td>
    <td><%#= task.label %></td>
    <td><%= link_to t("view.task.show2"), task_path(task.id) %></td>
    <td><%= link_to t("view.task.edit2"), edit_task_path(task.id) %></td>
    <td><%= link_to t("view.task.destroy2"), task_path(task.id), method: :delete, data: {confirm: "本当に削除してもいいですか？"} %></td>
  </tr>
<% end %>
</table>

<br>

<%= link_to "仕事登録", new_task_path %>
