<!DOCTYPE html>
<html>
  <head>
    <title>Manyo</title>
    <meta name="viewport" content="width=device-width">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <div class = "header">
  </div>
  <body>
  <div class="container">
    <%= yield %>
  </div>
  </body>
  <footer class="footer">
  </footer>
</html>
